@import '~sass/lib';

:host {
  @extend %app-defaults;

  width: 100%;

  .header {
    flex-direction: row;

    background-color: colorPrimary();
    padding: 10px;

    .logo {
      border-radius: 50px;
      background-color: colorSecondary();
      padding: 10px;
      a {
        color: colorBackground();
      }
    }
  }

  .content {
    flex-direction: row;

    .left {
      flex-grow: 1;
      margin-left: 20px;
    }

    .center {
      flex-grow: 2;
      max-width: 800px;
    }

    .right {
      flex-grow: 1;
      margin-right: 20px;
    }
  }
}
